f@charset "utf-8";
/* CSS Document */

fieldset {
    margin-bottom: 1em;
    padding: 0.5em;
}
form {
    margin: 0;
    padding: 0;
}
hr {
    border: 1px solid gray;
    height: 1px;
}
#logo img {
    border: 0 none;
   margin-top: 22px;
  }
table {
    border-collapse: collapse;
}
th {
    border-bottom: 3px solid #CCCCCC;
    padding-right: 1em;
    text-align: left;
}
tzs {
    border-top: 1px solid #CCCCCC;
}
tr.even, tr.odd {
    background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    padding: 0.1em 0.6em;
}
th.active img {
    display: inline;
}
td.active {
    background-color: #DDDDDD;
}
.item-list .title {
    font-weight: bold;
}
.item-list ul {
    margin: 7px 0 -0.25em 5px;
    padding: 0;
   
}
.item-list ul li {
    margin: 0 0 0.25em .5em;
    padding: 0;
}
.form-item, .form-actions {
    margin-bottom: 1em;
    margin-top: 1em;
}


tr.odd .form-item, tr.even .form-item {
    margin-bottom: 0;
    margin-top: 0;
    white-space: nowrap;
}
.form-item .description {
    font-size: 0.85em;
}
label {
    display: block;
    font-weight: bold;
}
label.option {
    display: inline;
    font-weight: normal;
}
.form-checkboxes .form-item, .form-radios .form-item {
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}
.form-type-radio .description, .form-type-checkbox .description {
    margin-left: 2.4em;
}
input.form-checkbox, input.form-radio {
    vertical-align: middle;
}
.marker, .form-required {
    color: #FF0000;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
    border: 2px solid red;
}
.container-inline .form-actions, .container-inline.form-actions {
    margin-bottom: 0;
    margin-top: 0;
}
.filter-wrapper, .wysiwyg-toggle-wrapper, #edit-token
{
	display: none;
}






.more-link {
    text-align: right;
}
.more-help-link {
    text-align: right;
}
.more-help-link a {
    background: url("../../misc/help.png") no-repeat scroll 0 50% transparent;
    padding: 1px 0 1px 20px;
}
.item-list .pager {
    clear: both;
    text-align: center;
    background: none repeat scroll 0 0 #59BADA;
    
}
.item-list .pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
  }
  
  .item-list .pager li a
  {
  width:auto;
  padding: 5px;
  }
  .pager li.pager-next
  {
  position: absolute;
    right: 41px;
  }

 #searchquery
 {
 height:auto;
 }

.pager-current {
    font-weight: bold;
}
#autocomplete li.selected {
    background: none repeat scroll 0 0 #0072B9;
    color: #FFFFFF;
}
html.js fieldset.collapsible .fieldset-legend {
    background: url("../../misc/menu-expanded.png") no-repeat scroll 5px 65% transparent;
   margin-bottom: 5px;
}
html.js fieldset.collapsed .fieldset-legend {
    background-image: url("../../misc/menu-collapsed.png");
    background-position: 5px 50%;
    position: absolute;
}
.fieldset-legend span.summary {
    color: #999999;
    font-size: 0.9em;
    margin-left: 0.5em;
}
tr.drag {
    background-color: #FFFFF0;
}
tr.drag-previous {
    background-color: #FFFFDD;
}
.tabledrag-toggle-weight {
    font-size: 0.9em;
}
body div.tabledrag-changed-warning {
    margin-bottom: 0.5em;
}
tr.selected td {
    background: none repeat scroll 0 0 #FFFFCC;
}
td.checkbox, th.checkbox {
    text-align: center;
}
.progress {
    font-weight: bold;
}
.progress .bar {
    background: none repeat scroll 0 0 #CCCCCC;
    border-color: #666666;
    border-radius: 3px 3px 3px 3px;
    margin: 0 0.2em;
}
.progress .filled {
    background: url("../../misc/progress.gif") repeat scroll 0 0 #0072B9;
}
.page-node-add-advpoll label{
	display: inline-block;
    vertical-align: top;
}
.page-node-add-advpoll .field-type-entityreference, 
.page-node-add-advpoll .field-type-taxonomy-term-reference,
.page-node-add-advpoll .form-item-group-audience-und,
.page-node-add-advpoll .field-name-field-actions-reference{
    display: inline-block;
    width: 50%;
}
.page-node-add-advpoll .form-item-group-audience-und{
	float:left;
	width: 350px;
}
.page-node-add-advpoll .field-name-field-forum-reference{
	margin:0px 0px 0px 1px;
}
.page-node-add-advpoll .field-name-field-actions-reference{
	margin: 3px;
	width:49%;
}
#edit-field-actions-reference-und{
	width:59%
	}

.page-node-add-forum .field-type-entityreference, 
.page-node-add-forum .field-type-taxonomy-term-reference {
    display: inline-block;
    width: 50%;
}
.page-node-add-forum label {
    display: inline-block;
    vertical-align: top;
}
#hap-node-form  #edit-group-audience,
#hap-node-form #edit-field-vote-reference{
	float:left;
    width: 352px;
    
}

#hap-node-form label{
	display: inline-block;
    vertical-align: top;
}
#hap-node-form #edit-field-attachment{
	margin-top:3em;
}
#hap-node-form .form-item-field-actions-reference-und .form-select{
	width: 210px
	}
#hap-node-form #edit-field-actions-reference{
	margin-top:9.7em;
}
#hap-node-form #edit-actions{
	margin-top:4em;
	}
#hap-node-form #edit-title{
	width:698px;
	display: block;
}
#hap-node-form #edit-field-forum-reference{
	float:left;
}

#action-node-form .form-item-field-vote-reference-und,
#action-node-form  .form-item-field-haps-reference-und
	{
	float:left;
	}

#action-node-form #edit-group-audience label{
	display:inline-block;
	vertical-align: top;
}
#hap-node-form #edit-field-vote-reference-und{
	width:223px;
}
#forum-node-form #edit-field-vote-reference-und{
	width:223px;
}

#action-node-form .form-item-field-invite-users-und
{
	float: right;
	
}

	.filedepottoolbar .filedepottoolbar_searchbox #searchquery
{
	height: 26px !important;
}
#filelistingheader .filedepotheading
{
	font: inherit;
	font-size: inherit;
}
#showsearchtags
{
	color: #000000;
	text-decoration: none;
}
#showsearchtags:hover
{
	color: #000000;
	text-decoration: underline;
}

.content .field-label
{
	float: left;
}

.node-promoted .user-picture a img
{
	float: right;
}
#block-system-main .node-action .subscriptions-subscribe{
	float:right;
}
.node-hap .content{
	font-size: 17px;
}
.node-hap .subscriptions-subscribe{
	float: right;
}
.node-action .content{
	font-size: 15px;
}




 div.user-profile .group-right .field-ds-user-picture
 {
 float: right;
 }
.user-profile a.privatemsg-send-link-profile
{
	float: right;
		-webkit-appearance: none;
-moz-border-radius: 11px;
-webkit-border-radius: 11px;
-moz-background-clip: padding;
-webkit-background-clip: padding;
background-clip: padding-box;
border-radius: 11px;
background: #DDD url(../images/button.png) repeat-x;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #DDD));
background: -moz-linear-gradient(top center, white 0%, #DDD 100%);
border: 1px solid;
border-color: #DDD #BBB #999;
cursor: pointer;
color: #333;
font: bold 12px/1.2 Arial, sans-serif;
outline: 0;
overflow: visible;
padding: 3px 10px 4px;
text-shadow: white 0 1px 1px;
width: auto;
text-decoration: none;
margin: 10px 0 10px 5px;
}
.user-profile a.privatemsg-send-link-profile:hover
{
	background: #ffffff;
}
.user-profile .group-footer #block-views-my-content-block .block-inner .block-title
{
	border-bottom: 1px solid #BEBDD1;
	padding: 0 5px;
}
.user-profile .group-footer
{
	border: 1px solid #BEBDD1;
}
.user-profile .group-footer #block-views-my-content-block .block-inner .content
{
	padding: 5px
}
.user-profile .group-left dl.user-profile-category 
{
	border: 1px solid #BEBDD1;
    padding: 7px 7px 2px;
}
.user-profile .group-left dl.user-profile-category dt.user-profile-item
{
	 border-right: 1px solid #BEBDD1;
    float: left;
    margin-right: 10px;
    margin-top: -7px;
    padding-right: 10px;
}
.user-profile .group-left dl.user-profile-category dd.user-profile-item
{
	margin-bottom: 0 !important;
}

.node-date .group-left 
{
	
	margin: 5px;
	 padding: 5px;
   width: 300px;
}
.node-date .group-left > span
{
	 margin-left: 5px;
    margin-top: 16px;
}

.node-date .group-left div
{
	width: 270px;
	border: 1px solid #BEBDD1;
    margin-top: 11px;
    padding: 5px;
}
.node-date .group-left #signup-form div{
	border:none;
}
	
.node-date .group-right ul.menu li
{
	float: left;
	margin: 10px 10px 10px 0;
}

.node-date .group-right ul.menu li a
{
		-webkit-appearance: none;
-moz-border-radius: 11px;
-webkit-border-radius: 11px;
-moz-background-clip: padding;
-webkit-background-clip: padding;
background-clip: padding-box;
border-radius: 11px;
background: #DDD url(../images/button.png) repeat-x;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #DDD));
background: -moz-linear-gradient(top center, white 0%, #DDD 100%);
border: 1px solid;
border-color: #DDD #BBB #999;
cursor: pointer;
color: #333;
font: bold 12px/1.2 Arial, sans-serif;
outline: 0;
overflow: visible;
padding: 3px 10px 4px;
text-shadow: white 0 1px 1px;
width: auto;
text-decoration: none;
margin: 10px 0 10px 5px;
}
.node-date .group-right ul.menu li a:hover
{
	background: #ffffff;
}
.node-date .group-right .field-location .adr
{
	border: 1px solid #BEBDD1;
    margin-top: 20px;
    padding: 5px;
}
.node-date .group-right > span.field-label
{
	margin-left: 5px;
    margin-top: 25px;
} 

#advpoll-choice-values thead tr th.field-label
{
	float: none !important;
}

.node-group-of-members .group-right .field-image
{
	overflow: hidden;
}
.node-group-of-members .group-right
{
	width: 48% !important;
}
.node-group-of-members .group-left .field-number-of-users-in-group div.view-content .views-row
{
	background: none !important;
}
.node-group-of-members .group-right .field-author a
{
		-webkit-appearance: none;
-moz-border-radius: 11px;
-webkit-border-radius: 11px;
-moz-background-clip: padding;
-webkit-background-clip: padding;
background-clip: padding-box;
border-radius: 11px;
background: #DDD url(../images/button.png) repeat-x;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #DDD));
background: -moz-linear-gradient(top center, white 0%, #DDD 100%);
border: 1px solid;
border-color: #DDD #BBB #999;
cursor: pointer;
color: #333;
font: bold 12px/1.2 Arial, sans-serif;
outline: 0;
overflow: visible;
padding: 3px 10px 4px;
text-shadow: white 0 1px 1px;
width: auto;
text-decoration: none;
margin: 10px 0 10px 5px;
}
.node-group-of-members .group-right .field-author a:hover
{
	background: #ffffff;
}
.node-group-of-members .group-right .field-author
{
	margin: 0 0 10px 0;
	float:left;
	  
}
#block-fboauth-login div.content{
 color:#4F6AA2;
  background-color: #4F6AA2;
   height: 21px;
   width: 194px; 
}



