@charset "utf-8";
/* CSS Document */

div.messages {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border: 1px solid;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
}
div.status {
    background-image: url("../../misc/message-24-ok.png");
    border-color: #BBEE77;
}
div.status, .ok {
    color: #234600;
}
div.status, table tr.ok {
    background-color: #F8FFF0;
}
div.warning {
    background-image: url("../../misc/message-24-warning.png");
    border-color: #EEDD55;
}
div.warning, .warning {
    color: #884400;
}
div.warning, table tr.warning {
    background-color: #FFFCE5;
}
div.error {
    background-image: url("../../misc/message-24-error.png");
    border-color: #ED541D;
}
div.error, .error {
    color: #8C2E0B;
}
div.error, table tr.error {
    background-color: #FEF5F1;
}
div.error p.error {
    color: #333333;
}
div.messages ul {
    margin: 0 0 0 1em;
    padding: 0;
}
div.messages ul li {
    list-style-image: none;
}
#subscribe .fieldset-title
{
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #DDDDDD 100%) repeat scroll 0 0 transparent;
	border-color: #DDDDDD #BBBBBB #999999;
    border-image: none;
    border-radius: 11px 11px 11px 11px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    font: bold 12px/1.2 Arial,sans-serif;
    overflow: visible;
    padding: 3px 8px 3px;
    text-shadow: 0 1px 1px #FFFFFF;
    width: auto;
    
}
#subscribe .fieldset-title:hover
{
	text-decoration: none;
	background:none repeat scroll 0 0 #ffffff;
}
#subscribe legend
{
 float: right;	
}
#subscribe .tableheader-processed
{
	float: left;
}
