@charset "utf-8";

/* CSS Document */
body {
	background-color: #F3F3F3;
	margin: 0;
	padding: 0;
}

#container {
	height: auto;
	margin: 0 auto;
	width: 988px;
}

.header {
	display: inline-block;
	height: 192px;
	width: 988px;
}

figure {
	display: block;
	float: left;
	margin-top: 25px;
}

.block-system-main-menu {
	background-image: url("../images/bmeain.jpg");
	background-repeat: repeat-y;
	border-radius: 10px 10px 10px 10px;
	display: block;
	float: right;
	height: 44px;
	margin-top: 24px;
	width: 606px;
}

.butons {
	display: block;
	float: left;
	height: 34px;
	margin-top: 0px;
	width: 100%;
}

.arrows {
	display: block;
	float: left;
	width: 300px;
}

.arrows a {
	background-color: #F5F5F5;
	background-image: url("../images/arrow.jpg");
	background-position: 90% center;
	background-repeat: no-repeat;
	border: 1px double #E9E9E9;
	border-radius: 3px 3px 3px 3px;
	color: #BEBDBF;
	float: left;
	font-family: Calibri;
	font-size: 16px;
	font-weight: normal;
	margin-right: 8px;
	padding: 7px 8px;
	text-decoration: none;
	width: 67px;
}

.arrows a:hover {
	border-radius: 3px 3px 3px 3px;
	color: #59BADA;
}

#container .header .butons a img {
	background-image: none;
	float: right;
	height: auto;
	margin-right: 12px;
	margin-top: 3px;
	width: auto;
}

.mail {
	float: right;
	width: 86px;
}

.mail a {
	background-color: #666666;
	background-image: url("../images/off.png");
	background-position: 90% center;
	background-repeat: no-repeat;
	border-radius: 7px 7px 7px 7px;
	color: #FFFFFF;
	display: block;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	text-align: center;
	padding: 7px 8px 9px 8px;
	text-decoration: none;
	width: 67px;
}

.mail a:hover {
	background-color: #5FBCDB;
	border-radius: 7px 7px 9px 7px;
}

.main3 {
	background-image: url("../images/mainmenu.jpg");
	background-repeat: no-repeat;
	border: 1px solid #D2D2D2;
	display: block;
	float: left;
	height: 28px;
	margin-top: 23px;
	padding: 12px;
	width: 962px;
}

.right {
	display: block;
	float: right;
	margin-top: 12px;
	width: 195px;
}

.view-most-popular-haps h2{
	color: #95CAEA;
	font-size: 18px;
	font-family: Calibri;
	font-weight: normal;
	margin: 0 0 5px 0;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
}
.field-title h2{
	color: #95CAEA;
	font-size: 18px;
	font-family: Calibri;
	font-weight: normal;
	margin: 0 0 5px 0;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
}

#slideCont {
	border: 1px solid #DADADA;
	float: left;
	height: 215px;
	margin-top: 12px;
	padding: 5px;
	width: 696px;
}

.news {
	float: left;
	height: auto;
	margin-bottom: 12px;
	margin-top: 12px;
	width: 715px;
}

.guia {
	color: #999999;
	float: left;
	font-family: Calibri;
	font-size: 30px;
	height: 100%;
	text-align: center;
	vertical-align: baseline;
	width: 56px;
}

.news img {
	border: 1px solid #F3F3F3;
	float: left;
	margin-right: 12px;
	padding: 3px;
}

.guia a img {
	border-style: none;
	float: none;
	margin: 5px 0;
	padding: 0;
}

.rate-info, .rate-description {
	background-color: #666666;
	color: #FFFFFF;
	float: left;
	margin-right: 8px;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	width: 100px;
}

.newslink a:hover {
	background-color: #8DCDE8;
}

.newslink {
	float: left;
	height: auto;
	margin-top: 8px;
	width: 400px;
}

.actions {
	border: 1px solid #F3F3F3;
	float: right;
	padding: 6px;
	width: 36px;
}

.actions a img {
	border-style: none;
	margin: 5px 0;
	padding: 0;
}


#footer {
	clear: both;
	float: none;
	height: 80px;
	margin-top: 8px;
	width: 100%;
}

#footer #footercont {
	color: #666666;
	font-family: Calibri;
	font-size: 16px;
	height: 40px;
	margin: 0 auto;
	padding-top: 15px;
	width: 988px;
}

#footer #footercont a {
	color: #70B8E2;
	float: left;
	margin-bottom: 6px;
	margin-right: 6px;
	margin-top: 0;
	padding: 0;
	text-decoration: none;
}

#footer #footercont a:hover {
	color: #2B94D2;
}

#footer #footercont p {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

#footer #footercont p a {
	color: #666666;
	float: none;
}

#footer #footercont p a:hover {
	color: #70B8E2;
	float: none;
}

#container #body .right #textfield {
	background-color: #F3F3F3;
	border: 1px solid #D8D8D8;
	border-radius: 22px 22px 22px 22px;
	color: #989898;
	float: left;
	font-family: Calibri;
	font-size: 14px;
	height: 20px;
	padding: 4px;
	width: 186px;
}

.botonsearch {
	float: left;
	margin-bottom: 12px;
	width: 194px;
}

#region-sidebar-second div.view-content{
	border-bottom: 1px solid #BEBDD1;
	border-left: 1px solid #BEBDD1;
	border-radius: 0 0 14px 0;
	border-right: 1px solid #BEBDD1;
	color: #666666;
	float: left;
	font-family: Calibri;
	font-size: 15px;
	margin-bottom: 12px;
	padding: 4px;
	width: 184px;
}

.botonsearch a {
	color: #666666;
	font-family: Calibri;
	font-size: 15px;
	text-decoration: none;
}

.botonsearch a:hover {
	color: #65C0DF;
}

#region-sidebar-second h2.block-title {
	background-color: #59BADA;
	border-radius: 0 14px 0 0;
	color: #FFFFFF;
	float: left;
	font-family: Calibri;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	padding: 4px 4px 4px 12px;
	text-decoration: none;
	width: 178px;
}

.contentright ul {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 15px;
}

#container #body .right .contentright ul li a {
	color: #666666;
	float: left;
	font-family: Calibri;
	font-size: 15px;
	margin-bottom: 3px;
	text-decoration: none;
	width: 100%;
}

#container #body .right .contentright ul li a:hover {
	color: #59BADA;
}

.lavaLampNoImage {
	border-style: solid;
	border-width: 0;
	height: 22px;
	margin: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.lavaLampNoImage li {
	float: left;
	list-style: none outside none;
}

.lavaLampNoImage li.back {
	background-color: transparent;
	background-image: url("../images/off.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	border-style: none;
	border-width: 0;
	height: 22px;
	position: absolute;
	width: 9px;
	z-index: 8;
}

.lavaLampNoImage li a {
	background-color: transparent;
	background-image: none;
	color: #999999;
	display: block;
	float: left;
	font-family: "yanone Kaffeesatz Bold";
	font-size: 17px;
	font-style: normal;
	font-weight: normal;
	height: 22px;
	letter-spacing: 0;
	margin: auto 10px;
	outline: medium none;
	overflow: hidden;
	padding: 4px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	z-index: 10;
}

.lavaLampNoImage li a:hover,.lavaLampNoImage li a:active,.lavaLampNoImage li a:visited
	{
	background-color: transparent;
	background-image: url("../images/off.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	border-style: none;
}

.lavaLampNoImage {
	border-style: solid;
	border-width: 0;
	height: 22px;
	margin: 0;
	padding: 0 0 0 5px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.lavaLampNoImage li {
	float: left;
	list-style: none outside none;
}

.lavaLampNoImage li.back {
	background-color: transparent;
	background-image: url("../images/off.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	border-style: none;
	border-width: 0;
	height: 22px;
	position: absolute;
	width: 9px;
	z-index: 8;
}

.lavaLampNoImage li a {
	background-color: transparent;
	background-image: none;
	color: #666666;
	display: block;
	float: left;
	font-family: Calibri;
	font-size: 17px;
	font-style: normal;
	font-weight: normal;
	height: 22px;
	letter-spacing: 0;
	margin: auto 10px;
	outline: medium none;
	overflow: hidden;
	padding: 4px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	z-index: 10;
}

.lavaLampNoImage li a:hover,.lavaLampNoImage li a:active,.lavaLampNoImage li a:visited
	{
	background-color: transparent;
	background-image: url("../images/off.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	border-style: none;
}

#block-system-main-menu ul.menu {
	cursor: default;
	font-size: 100%;
	list-style-type: none !important;
	margin: 1px 0 0 0;
	padding: 0;
	width: auto;
}

#block-system-main-menu ul.menuBarActive {
	z-index: 1000;
}

#block-system-main-menu ul.menu li {
	cursor: pointer;
	float: left;
	font-size: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: left;
	width: auto;
}

#block-system-main-menu ul.menu ul {
	cursor: default;
	font-size: 100%;
	left: -1000em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: auto;
	z-index: 1020;
}

#block-system-main-menu ul.menu #block-system-main-menu ul.menuBarSubmenuVisible
	{
	left: auto;
}

#block-system-main-menu ul.menu ul li {
	width: auto;
}

#block-system-main-menu ul.menu ul ul {
	margin: -5% 0 0 95%;
	position: absolute;
}

#block-system-main-menu ul.menu #block-system-main-menu ul.menuBarSubmenuVisible #block-system-main-menu ul.menuBarSubmenuVisible
	{
	left: auto;
	top: 0;
}

#block-system-main-menu ul.menu ul {
	border: 0 solid #CCCCCC;
}

#block-system-main-menu ul.menu a {
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-family: Calibri;
	font-size: 16.5px;
	font-style: normal;
	font-weight: normal;
	padding: 8px 6px 10px 9px;
	text-decoration: none;
}

#block-system-main-menu ul.menu a:hover,#block-system-main-menu ul.menu a:focus
	{
	background-color: #2D9FC6;
	border-radius: 10px 10px 10px 10px;
	color: #FFFFFF;
	display: block;
	position: relative;
	transition: color 0.5s ease 0s, background 0.5s ease 0s;
}

#block-system-main-menu ul.menu a.MenuBarItemHover,#block-system-main-menu ul.menu a.MenuBarItemSubmenuHover,#block-system-main-menu ul.menu a.MenuBarSubmenuVisible
	{
	background-color: #2D9FC6;
	border-radius: 10px 10px 10px 10px;
	color: #FFFFFF;
	display: block;
	position: relative;
	transition: color 0.5s ease 0s, background 0.5s ease 0s;
}

#block-system-main-menu ul.menu a.MenuBarItemSubmenu {
	background-position: 95% 50%;
	background-repeat: no-repeat;
}

#block-system-main-menu ul.menu ul a.MenuBarItemSubmenu {
	background-position: 95% 50%;
	background-repeat: no-repeat;
}

#block-system-main-menu ul.menu a.MenuBarItemSubmenuHover {
	background-position: 95% 50%;
	background-repeat: no-repeat;
}

#block-system-main-menu ul.menu ul a.MenuBarItemSubmenuHover {
	background-position: 95% 50%;
	background-repeat: no-repeat;
}

#block-system-main-menu ul.menu iframe {
	position: absolute;
	z-index: 1010;
}

.region-intriduction {
	margin-top: 12px;
}

input#edit-custom-search-blocks-form-1--2 {
	background: url("../images/input_bg.png") no-repeat scroll 0 0
		transparent;
	border: medium none;
	height: 35px;
	margin: 0;
	padding: 0 20px;
	width: 157px;
}

#block-custom-search-blocks-1 .content {
	width: 200px !important;
}

.form-item-custom-search-blocks-form-1 label {
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
}

.left-menu ul.menu {
	left: 0;
	list-style: none outside none;
	margin: 0 !important;
	overflow: hidden;
	padding: 0 !important;
	position: fixed;
	top: 210px;
	z-index: 9999;
}

.left-menu ul.menu li{
	width: 100px;
}

.left-menu ul.menu li a{
	background-color: #FFFFFF;
	background-image: url("../images/bg2.png");
	background-position: 89% 50%;
	background-repeat: no-repeat;
	border: 1px solid #DDDDDD;
	border-radius: 2px 0 0 2px;
	display: block;
	font-family: "Yanone Kaffeesatz", "Helvetica", arial, serif !important;
	font-size: 9px;
	height: 35px;
	letter-spacing: 1px;
	text-decoration: none;
	width: 75px;
	line-height: 36px;
	opacity: 0.9;
	padding-right: 30px;
	text-align: center;
	
}

.left-menu ul.menu li a:hover{
	border: 1px solid #CCCCCC;
	font-family: "Yanone Kaffeesatz", "Helvetica", arial, serif !important;
	font-size: 9px;
	text-decoration: none;
}

.left-menu ul.menu li a:hover{
	opacity: 1;
}

.left-menu ul.menu  li.first a{
	background-image: url("../images/events.png");
	margin-top: 90px;
}

.left-menu ul.menu  .leaf a{
	background-image: url("../images/groups.png");
}

.left-menu ul.menu  .last a{
	background-image: url("../images/inbox.png");
}

.left-menu ul.menu .photos a{
	background-image: url("../images/photos.png");
}

.left-menu ul.menu .videos a{
	background-image: url("../images/videos.png");
}

.left-menu ul.menu .inbox a{
	background-image: url("../images/inbox.png");
}

.left-menu ul.menu .groups a{
	background-image: url("../images/groups.png");
}

.left-menu ul.menu .events a{
	background-image: url("../images/events.png");
}

.left-menu ul.menu .apps a{
	background-image: url("../images/apps.png");
}

ul.lavaLampNoImage li.menu-218 a{
	background-image: url("../images/home.png");
	background-position: left center;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0 23px 0 0;
}

ul.lavaLampNoImage li.menu-218 a:hover{
	border-top: 2px solid #000000;
}

.menu-218 a{
	color: transparent !important;
}

.views-field-field-image-news .field-content {
	float: left;
}

.region-news .views-field-body {
	float: left;
	margin-left: 15px;
	min-height: 100px;
	width: 516px;
}

.region-news .views-field-title {
	float: left;
	margin-left: 15px;
	width: 516px;
}

.region-news .views-field-title a {
	color: #95CAEA;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.region-news .views-field-field-ref {
	float: left;
	width: 50px;
}

.region-news .views-field-field-picture2 {
	float: left;
	width: 50px;
}

.region-news .views-field-field-picture3 {
	float: left;
	width: 50px;
}

.region-news .views-field-created {
	background: none repeat scroll 0 0 #666666;
	color: #FFFFFF;
	float: left;
	padding: 6px 5px;
	width: 126px;
}

.region-news .views-field-created:hover {
	background: none repeat scroll 0 0 #8DCDE8;
	cursor: pointer;
}

.region-news .views-field-counter {
	background: none repeat scroll 0 0 #666666;
	color: #FFFFFF;
	float: left;
	margin-left: 13px;
	padding: 6px 5px;
	text-align: center;
	width: 126px;
}

.region-news .views-field-counter:hover {
	background: none repeat scroll 0 0 #8DCDE8;
	cursor: pointer;
}

.region-news .views-field-field-ref .field-content {
	background-image: url("../images/cd.png");
	background-repeat: no-repeat;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	height: 38px;
	margin-left: 7px;
	width: 30px;
}

.region-news .views-field-field-picture2 .field-content {
	background-image: url("../images/discussion.png");
	background-repeat: no-repeat;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	height: 38px;
	margin-left: 7px;
	width: 30px;
}

.region-news .views-field-field-picture3 .field-content {
	background-image: url("../images/like.png");
	background-repeat: no-repeat;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	height: 38px;
	margin-left: 7px;
	width: 30px;
}

.region-news .views-field-field-ref .field-content a {
	color: transparent;
}

.region-news .views-field-field-picture2 .field-content a {
	color: transparent;
}

.region-news .views-field-field-picture3 .field-content a {
	color: transparent;
}

.rate-widget ul li.first a {
	background-image: url("../images/arrowup.jpg");
	background-repeat: no-repeat;
	display:inline-block;
	height:15px;
	width:15px;
}
.rate-widget ul li.last a {
	background-image: url("../images/arrowdown.jpg");
	background-repeat: no-repeat;
	display:inline-block;
	height:15px;
	width:15px;
}
.field-submitted-by 
	{
	background-color: #666666;
    color: #FFFFFF;
    float: left;
    margin-right: 8px;
    text-align: center;
    text-decoration: none;
    padding:0 10px;
}


.zone-footer div.block-inner
{
	float: left;
	margin-right: 30px;
	margin-top: 20px;
	width: 200px;
}
.zone-footer div.block-inner div.view .views-table tr td
{
	background: none;
	border: none;
}
.zone-footer div.block-inner div.view .views-table tr
{
	border: none;
	background: none;
}
.zone-footer div.block-inner div.view table tbody
{
	border:none;
}

.zone-footer div.block-inner .block-title
{
	background-image: url("../images/bmeain.jpg");
	padding: 0 5px;
	border-radius: 10px 10px 0 0;
	color: #FFFFFF;
	font-family: Calibri;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    
    
}
.zone-footer div.block-inner .item-list
{
	border: 1px solid #7ED0E8;
	border-radius: 0 0 10px 10px;
}
.zone-footer div.block-inner .item-list ul
{
	margin: 0px;
}
.zone-footer .region-footer-first
{
	padding-left: 22px;
}
.zone-footer .view-content
{
	
	border: 1px solid #7ED0E8;
	border-radius: 0 0 10px 10px;
	padding: 5px;
}

.inside .pane-menu-menu-calendar-3rd-menu .pane-content ul.menu
{
	background-image: url("../images/bmeain.jpg");
    background-repeat: repeat-y;
    border-radius: 155px 155px 10px 10px;
    display: block;
    float: right;
    height: 41px;
  
}
.inside .pane-menu-menu-calendar-3rd-menu .pane-content ul.menu li
{
	display: inline;
}
.inside .pane-menu-menu-calendar-3rd-menu .pane-content ul.menu li a

{
	color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Calibri;
    font-size: 16.5px;
    font-style: normal;
    font-weight: normal;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
}
.pane-menu-menu-profile-page-3rd-menu .pane-content ul.menu
{
	background-image: url("../images/bmeain.jpg");
    background-repeat: repeat-y;
    border-radius: 155px 155px 10px 10px;
    display: block;
    float: right;
    height: 41px;
	
}
.pane-menu-menu-profile-page-3rd-menu .pane-content ul.menu li
{
	display: inline;
}
.pane-menu-menu-profile-page-3rd-menu .pane-content ul.menu li a
{
	color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Calibri;
    font-size: 16.5px;
    font-style: normal;
    font-weight: normal;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
}

.views-row .ds-3col
{
	border: 1px solid #59BADA;
	border-radius: 10px 10px 10px 10px;
}

.inside .pane-content ul.menu li a:hover
{
	text-decoration: underline;
}


.block-menu-single-discussion-3rd-menu ul.menu
{
	background-image: url("../images/bmeain.jpg");
    background-repeat: repeat-y;
    border-radius: 155px 155px 10px 10px;
    display: block;
    float: right;
    height: 41px;
   
}
.block-menu-single-discussion-3rd-menu ul.menu li
{
	display: inline;
}

.block-menu-single-discussion-3rd-menu ul.menu li a
{
	display: inline-block;
	 color: #FFFFFF;
    cursor: pointer;
    font-family: Calibri;
    font-size: 16.5px;
    font-style: normal;
    font-weight: normal;
    padding: 10px 30px 10px 30px;
    text-decoration: none
}

.block-menu-singe-vote-3rd-menu ul.menu
{
	background-image: url("../images/bmeain.jpg");
    background-repeat: repeat-y;
    border-radius: 155px 155px 10px 10px;
    display: block;
    float: right;
    height: 41px;
    margin-top: 24px;L
    margin-bottom: 25px;
}

.block-menu-singe-vote-3rd-menu ul.menu li
{
	display: inline;
}

.block-menu-singe-vote-3rd-menu ul.menu li a
{
	display: inline-block;
	 color: #FFFFFF;
    cursor: pointer;
    font-family: Calibri;
    font-size: 16.5px;
    font-style: normal;
    font-weight: normal;
    padding: 10px 30px 10px 30px;
    text-decoration: none
}
.comment-wrapper .forum-post .forum-post-wrapper
{
	border: 1px solid #59BADA;
	 border-radius: 0 0 10px 10px;
}
.comment-wrapper .forum-post .forum-post-wrapper .forum-post-panel-sub
{
	
	min-height: 75px;
    padding-left: 10px;
   
    
}

.comment-wrapper .forum-post .forum-post-wrapper .forum-post-panel-main
{
	border-left: 1px solid #59BADA;
	padding-right: 10px;
	
}

.panels-flexible-region-6-3rd_menu {
    float: right;
     width: 606px;
}

.view-most-popular-haps .views-row{
	margin-bottom:40px;
}	
.view-my-haps .views-row{
	margin-bottom:40px;
}	

.view-most-popular-haps .views-row .group-middle a.username{
	color:#fff;
}
.view-my-haps .views-row .field-submitted-by a.username{
	color:#fff;
}
.zone-content{
	background:#fff;
	padding-top:20px;
}

.ds-3col > .group-left{
	width:20%;
	margin: 5px 5px;
}
.ds-3col > .group-right{
	width:5%;
}

.ds-3col > .group-middle {
    float: left;
    width:75%;
    margin: 5px 5px;
}	
#page-title{
	border-bottom: 2px solid;
    font-size: 30px;
    font-family: Calibri;
}
#region-content ul.tabs{
	background-image: url("../images/bmeain.jpg");
    background-repeat: repeat-y;
    border-radius: 155px 155px 10px 10px;
    display: block;
    float: right;
    height: 41px;
    margin-top: 24px;
    width: 606px;
	display:none;
}

#region-content ul.tabs a{
	color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Calibri;
    font-size: 16.5px;
    font-style: normal;
    font-weight: normal;
    padding: 8px 8px 10px 26px;
    text-decoration: none;
    
}

#region-content ul.tabs a:hover,#region-content ul.tabs a:focus
	{
		text-decoration: underline;
}
#region-content ul.tabs li:nth-child(1) a{
background-image: url("../images/inbox2.png");
 background-repeat: no-repeat;
 background-position: 97% 43%;
   padding-right: 33px;
   padding-right: 33px;
    float: left;
  }	
  #region-content ul.tabs li:nth-child(2) a{
background-image: url("../images/sent.png");
 background-repeat: no-repeat;
 background-position: 97% 43%;
   padding-right: 33px;
    float: left;
  }	
  #region-content ul.tabs li:nth-child(3) a{
background-image: url("../images/allmail.png");
 background-repeat: no-repeat;
 background-position: 97% 43%;
   padding-right: 33px;
    float: left;
  }	
  #region-content ul.tabs li:nth-child(4) a{
background-image: url("../images/user.png");
 background-repeat: no-repeat;
 background-position: 97% 43%;
   padding-right: 33px;
    float: left;
  }	
#privatemsg-list span.fieldset-legend a{
background-image: url("../images/filter.png");
    background-position: 15% 85%;
    background-repeat: no-repeat;
    display: block;
    float: left;
    font-family: calibri;
    font-size: 16px;
    font-weight: normal;
    padding-left: 46px;
    text-decoration: none;
    

}
 ul.action-links li a{
	
    display: block;
    float: left;
    font-family: calibri;
    font-size: 16px;
    font-weight: normal;
    padding-left: 38px;
    text-decoration: none;
    
}

#privatemsg-list-form .container-inline{
	margin-bottom:10px;
}

.zone-header-wrapper{
	 margin:20px 0px;
}
.right-user-login{
	float:right;
}
.right-user-login ul li{
	display:inline;
}

.right-user-login ul li.first a{
	background-image: url("../images/mailing.jpg");
	padding: 7px 26px 9px;
	background-repeat: no-repeat;
	height:20px;
}
.right-user-login ul li.last a{
    background-color: #666666;
    background-image: url("../images/off.png");
    background-position: 90% center;
    background-repeat: no-repeat;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    display: inline-block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 5px 26px 5px 13px;
    text-align: center;
    text-decoration: none;
}
.right-user-login ul li{
	display:inline;
}

/**************************BREADCRUMB STYLE*******************/
.breadcrumb {
	float: left;
	margin-bottom:0px;
}

.breadcrumb ul li {
	display: inline;
}

ul.breadcrumb li {
	padding: 7px 8px 7px 15px;
	background: #f5f5f5;
	border: #ebebeb solid 1px;
	border-style: solid;
	border-width: 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	font-family: "Myriad Pro";
}

ul.breadcrumb li a {
	color: #57b8d8;
	text-decoration: none;
	background-image: url("../images/li_icon.jpg");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 15px
}
ul.breadcrumb li.last a{
	background-image: none;
}

.forum-comments-header{
	overflow:auto;
    background: none repeat scroll 0 0 #59BADA;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #FFFFFF;
 	border-radius: 10px 10px 0 0;
}
.forum-comments-header .username-header{
	float:left;
	width:141px;
	border-right:1px white solid;
	padding-left:10px;
	
}

.forum-comments-header .text-reply{
	float:left;
	padding-left:10px;
}

.forum-comments-header .actions-on-comment{
	float:right;
	padding-right:10px;
}

.clear {
	clear:both
}
.forum-post-links{
	line-height: normal;
	margin:0
}
.forum-post-links ul{
	margin-bottom:10px;
}

#forum-topic-header{
	margin:10px 0px 10px 5px; 
}
#forum-topic-header .last-post-link{
	text-transform: uppercase;
}

.node-advpoll form[id^='advpoll-form'], .node-advpoll .poll{
	width:482px;
	float:left;
	border-left:1px #D3D3D3 solid;
	border-top:1px #D3D3D3 solid;
	border-bottom:1px #D3D3D3 solid;
	padding:10px;
}
.node-advpoll .vote-right{
    float: right;
    padding: 10px;
    width: 175px;
	border:1px #D3D3D3 solid;
}

.node-advpoll .vote-metrices{
	text-transform: uppercase;
}
.node-advpoll .field-background{
	margin-bottom:15px;
}
