@charset "utf-8";
/* CSS Document */


.views-exposed-form .views-exposed-widget {
    float: left;
    padding: 0.5em 1em 0 0;
}
.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
}
.views-exposed-form .form-item, .views-exposed-form .form-submit {
    margin-bottom: 0;
    margin-top: 0;
}
.views-exposed-form label {
    font-weight: bold;
}
.views-exposed-widgets {
    margin-bottom: 0.5em;
}
.views-align-left {
    text-align: left;
}
.views-align-right {
    text-align: right;
}
.views-align-center {
    text-align: center;
}
.views-view-grid tbody {
    border-top: medium none;
}
.view .progress-disabled {
    float: none;
}
