f@charset "utf-8";
/* CSS Document */

fieldset {
    margin-bottom: 1em;
    padding: 0.5em;
}
form {
    margin: 0;
    padding: 0;
}
hr {
    border: 1px solid gray;
    height: 1px;
}
#logo img {
    border: 0 none;
   margin-top: 22px;
  }
table {
    border-collapse: collapse;
}
th {
    border-bottom: 3px solid #CCCCCC;
    padding-right: 1em;
    text-align: left;
}
tzs {
    border-top: 1px solid #CCCCCC;
}
tr.even, tr.odd {
    background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    padding: 0.1em 0.6em;
}
th.active img {
    display: inline;
}
td.active {
    background-color: #DDDDDD;
}
.item-list .title {
    font-weight: bold;
}
.item-list ul {
    margin: 0 0 0.75em;
    padding: 0;
    margin-left: 20px;
}
.item-list ul li {
    margin: 0 0 0.25em 1.5em;
    padding: 0;
}
.form-item, .form-actions {
    margin-bottom: 1em;
    margin-top: 1em;
}


tr.odd .form-item, tr.even .form-item {
    margin-bottom: 0;
    margin-top: 0;
    white-space: nowrap;
}
.form-item .description {
    font-size: 0.85em;
}
label {
    display: block;
    font-weight: bold;
}
label.option {
    display: inline;
    font-weight: normal;
}
.form-checkboxes .form-item, .form-radios .form-item {
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}
.form-type-radio .description, .form-type-checkbox .description {
    margin-left: 2.4em;
}
input.form-checkbox, input.form-radio {
    vertical-align: middle;
}
.marker, .form-required {
    color: #FF0000;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
    border: 2px solid red;
}
.container-inline .form-actions, .container-inline.form-actions {
    margin-bottom: 0;
    margin-top: 0;
}
.filter-wrapper, .wysiwyg-toggle-wrapper, #edit-token
{
	display: none;
}






.more-link {
    text-align: right;
}
.more-help-link {
    text-align: right;
}
.more-help-link a {
    background: url("../../misc/help.png") no-repeat scroll 0 50% transparent;
    padding: 1px 0 1px 20px;
}
.item-list .pager {
    clear: both;
    text-align: center;
    background: none repeat scroll 0 0 #59BADA;
    
}
.item-list .pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
  }
  
  .item-list .pager li a
  {
  width:auto;
  padding: 5px;
  }
  .pager li.pager-next
  {
  position: absolute;
    right: 41px;
  }

 #searchquery
 {
 height:auto;
 }

.pager-current {
    font-weight: bold;
}
#autocomplete li.selected {
    background: none repeat scroll 0 0 #0072B9;
    color: #FFFFFF;
}
html.js fieldset.collapsible .fieldset-legend {
    background: url("../../misc/menu-expanded.png") no-repeat scroll 5px 65% transparent;
   
}
html.js fieldset.collapsed .fieldset-legend {
    background-image: url("../../misc/menu-collapsed.png");
    background-position: 5px 50%;
}
.fieldset-legend span.summary {
    color: #999999;
    font-size: 0.9em;
    margin-left: 0.5em;
}
tr.drag {
    background-color: #FFFFF0;
}
tr.drag-previous {
    background-color: #FFFFDD;
}
.tabledrag-toggle-weight {
    font-size: 0.9em;
}
body div.tabledrag-changed-warning {
    margin-bottom: 0.5em;
}
tr.selected td {
    background: none repeat scroll 0 0 #FFFFCC;
}
td.checkbox, th.checkbox {
    text-align: center;
}
.progress {
    font-weight: bold;
}
.progress .bar {
    background: none repeat scroll 0 0 #CCCCCC;
    border-color: #666666;
    border-radius: 3px 3px 3px 3px;
    margin: 0 0.2em;
}
.progress .filled {
    background: url("../../misc/progress.gif") repeat scroll 0 0 #0072B9;
}

